Flask==2.3.2         # ou la version que vous souhaitez utiliser
pandas==1.5.3        # ou la version que vous souhaitez utiliser
requests==2.28.1     # ou la version que vous souhaitez utiliser
openai==0.27.0       # ou la version que vous souhaitez utiliser
psycopg2-binary==2.9.6 # Bibliothèque PostgreSQL pour Python
python-dotenv==1.0.1
folium==0.17.0
numpy==1.23.4
Flask-Migrate==3.1.0  # or the latest version
Flask-SQLAlchemy==2.5.1
SQLAlchemy==1.4.47