{% extends 'base.html' %}

{% block content %}
    <div style="margin: 2.5cm auto 0; text-align: center; color: #1DB954;">
        <h1 style="font-weight: 600;font-weight: bold">List of Users</h1>
    </div>

    <div style="width: 90%; margin: auto; overflow-x: auto; padding-bottom: 50px;">
        <table style="width: 100%; border-collapse: collapse; margin-top: 1.5cm; background-color: #000; color: white; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); border-radius: 10px; overflow: hidden;">
            <thead>
                <tr style="background-color: #1DB954; color: white; font-weight: bold;">
                    <th style="text-align: center; padding: 15px; border-bottom: 1px solid #333;">Name</th>
                    <th style="text-align: center; padding: 15px; border-bottom: 1px solid #333;">Surname</th>
                    <th style="text-align: center; padding: 15px; border-bottom: 1px solid #333;">Gender</th>
                    <th style="text-align: center; padding: 15px; border-bottom: 1px solid #333;">City</th>
                </tr>
            </thead>
            <tbody>
                {% for utilisateur in utilisateurs %}
                    <tr style="border-bottom: 1px solid #333;">
                        <td style="text-align: center; padding: 12px;">{{ utilisateur.lastName }}</td>
                        <td style="text-align: center; padding: 12px;">{{ utilisateur.firstName }}</td>
                        <td style="text-align: center; padding: 12px;">{{ utilisateur.gender }}</td>
                        <td style="text-align: center; padding: 12px;">{{ utilisateur.city }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4" style="text-align: center; padding: 20px; color: #aaa;">No users found</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div style="text-align: center; margin-top: 20px;">
        {% if page > 1 %}
            <a href="{{ url_for('index', page=page-1) }}" style="color: #1DB954; text-decoration: none; margin-right: 15px;">&laquo; Previous</a>
        {% endif %}

        {% if page * per_page < total %}
            <a href="{{ url_for('index', page=page+1) }}" style="color: #1DB954; text-decoration: none; margin-left: 15px;">Next &raquo;</a>
        {% endif %}
    </div>
{% endblock %}
