{% extends 'base.html' %}

{% block content %}
    <div style="max-width: 800px; margin: 0 auto; padding: 20px;"> <!-- Conteneur centré -->
        <h1 style="margin-top: 2.7cm;">Carte des utilisateurs</h1>  <!-- Ajouter la marge supérieure ici -->
        <div id="map" style="width: 100%; height: 600px;"></div> <!-- La carte descend également -->
    </div>

    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

    <script>
        var map = L.map('map').setView([37.0902, -95.7129], 4); // Centre sur les États-Unis

        // Charger la couche de carte
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '© OpenStreetMap'
        }).addTo(map);

        // Ajouter les marqueurs pour les utilisateurs
        var userLocations = {{ user_locations|tojson }}; // Convertir les coordonnées en JSON
        
        userLocations.forEach(function(location) {
            var lat = location[0]; // latitude
            var lon = location[1]; // longitude
            L.marker([lat, lon]).addTo(map).bindPopup("Utilisateur: " + lat + ", " + lon);
        });
    </script>
{% endblock %}
